@import "../../../scss/variable";

.createevent {
  background-color: $nav-background;
  margin-top: 2rem;
  padding: 2rem;
  &-container {
    margin-top: 5rem;
    display: flex;
    &-left {
      width: 50%;
    }
    &-right {
      width: 50%;
    }
  }
}

.save-button {
  //   text-align: right;
  //   margin-right: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  & > * {
    background-color: $yellow;
    border: none;
    border-radius: 2rem;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;

    & > img {
      height: 0.8rem;
      margin-right: 0.5rem;
    }
  }
}
