.container {
  /* width: 400px;
  max-width: calc(95vw - 8rem); */
  width: 35rem;
  height: 15rem;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 5rem 2rem 3rem 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4rem;
  margin-left: 4rem;
}

.container > .left {
  flex: 1;
}
.container > .right {
  flex: 1;
}

.container > .right h6 {
  /* font-size: 2.4rem; */
  color: #000000;
  white-space: nowrap;
  /* font-weight: 300;
  line-height: 2.9rem; */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  text-align: center;
}
.container > .right span {
  /* font-size: 4rem; */
  color: #ffc841;
  white-space: nowrap;
  /* font-weight: 300;
  line-height: 4rem; */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 3rem;
  display: block;
  text-align: center;
}

.container > .right > .top {
  margin-bottom: 2rem;
}
@media screen and (max-width: 37.5em) {
  .container {
    width: 37rem;
    height: 16rem;
    margin-top: 4rem;
    margin-left: 2rem;
  }
}

@media screen and (max-width: 75em) {
  .container {
    width: 37rem;
    height: 16rem;
    margin-top: 8rem;
    margin-left: 2rem;
  }
}
