.login {
  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-left {
      width: 40%;
      margin: 4rem 6rem;
      & > h2 {
        font-size: 4rem;
        margin: 3rem 0rem;
      }
    }
    &-right {
      width: 60%;

      text-align: right;
      & > img {
        height: 550px;
      }
    }
  }
}

.login-forget {
  margin: 2rem 0rem;

  & > * {
    font-size: 2rem;
    font-weight: 500;
    color: black;
    cursor: pointer;
  }
}
