@import "../../scss/variable";
@import "./../../scss/mixins";
.settings {
  &-container {
    &-edit {
      background-color: $nav-background;
      margin: 2rem 0rem;
      padding: 4rem 0rem;
      & > center {
        & > h3 {
          font-size: 1.6rem;
          font-weight: 500;
        }
      }
      &-form {
        width: 45%;
        margin: auto;
      }
    }
    &-password {
      background-color: $darkGray;
      margin: 2rem 0rem;
      padding: 4rem 0rem;
      height: 100vh;
      & > center {
        & > h3 {
          font-size: 1rem;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 500;
        }
      }
      &-form {
        width: 45%;
        margin: auto;
      }
    }
  }
}
.button-for-update-forms {
  & > center {
    & > * {
      background-color: $darkYellow;
      color: black;
      border: none;
      cursor: pointer;
      font-size: 1rem;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      padding: 0.7rem 2.5rem;
      border-radius: 10rem;
      transition: 0.3s ease-in-out;
    }
  }
}

@include respond(phone) {
  .settings-container-password-form{
    width:70%;
  }
  .update_froms_btn{
    width:30%;
  }
}