@import "../../scss/variable";
.yellow-form {
  &-label {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    display: block;
    margin: 1.7rem 0rem;
    padding-left: 10px;
  }
  &-input {
    width: 100%;
    color: #363636;
    border-radius: 15px;
    padding: 1rem 1rem;
    border: 1.5px solid $yellow;
    font-size: 1rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;

    &::-webkit-input-placeholder {
      /* Edge */
      color: #363636;
      font-size: 1rem;
      font-style: normal;
      font-weight: bold;
    }
    &:focus {
      outline: none;
    }
  }
  &-error {
    margin-left: 8px;
    color: red;
    // color: green;
    font-size: 10px;
    font-weight: 400;
  }
}

.is-invalid {
  border: 1.5px solid red;
}

.login-forget {
  & > * {
    color: #AEAEAE;
    font-style: normal;
    font-weight: 400;
    text-decoration: underline;
    font-weight: 300;
    font-size: 1rem;
    margin-left: 1rem;
  }
}
